
html, body {
	background-image : url( ../images/background.jpg );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	font-family: "Open Sans";
	color: rgba(255, 255, 255, 0.7);
	
	height:100%;
	padding: 0px;
	margin : 0px;
}

#page {
	height:100%;
	text-align:center;
}

#overlay {
	background-color: black;
	opacity : 0.70;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* --------- ENTETE ---------------------- */


#navigation{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	list-style: none;
	padding: 0;
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	height: 60px;
	letter-spacing: 1px;
	line-height: 20px;
}

#navigation ul {
 margin: 0;
}

#navigation li {
	border-width: 0;
    display: inline-block;
}

 #navigation a {
    display: block;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	padding: 20px;
}

#navigation a:hover {
	color:white;
}

#navigation #actif {
	color:white;
	font-weight: bold;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  menu déroulant nav bar  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#menu ul li {
    display: inherit;
}

#menu ul {
    position: absolute;
    left: -999em;
    text-align: left;
	padding-left:0;
	z-index:1;
}

#menu li:hover ul{
    left: auto;
	width: 220px;
	background-color: black;
}

#menu li:hover a{
    padding:  15px 20px;
}

#menu li:hover li .underline{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#fleche{
	position: absolute;
	margin-top: -10px;
	margin-left: 3px;
	height: 20px;
	width: 40px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#entete{
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#titre {
	display: block;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	text-align:center;
	margin: auto;
	padding-bottom:58px;
	position:relative;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1.6px;
	color: rgba(255, 255, 255, 0.701961);
}

h1 {
	font-family: 'Open Sans';
	font-size: 68px;
	font-weight: 300;
	letter-spacing: 6.8px;
	line-height: 68px;
	color: white;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

 h2 {
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	letter-spacing: 1.6px;
	line-height: 26px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}


/* --------- PARTIE NEWS COMMUNES ---------------------- */

#contenu-home {
	position:relative;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	clear: both;
	color: rgba(255, 255, 255, 0.701961);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 1140px;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
	text-align:justify;
}

#text-home{
	box-sizing: border-box;
	flex : 1 1 33.3333%;
	padding: 0 20px;
}

#img-home{
	box-sizing: border-box;
	flex : 1 1 33.3333%;
	padding: 0 20px;
}

 #img-home a {
	text-decoration: none;
	padding: 0;
}

 #img-home img {
	width: 100%;
	height: auto;
}

#recentpost-home {
	box-sizing: border-box;
	flex : 1 1 33.3333%;
	padding: 0 20px;
}

#recentpost-home ul{
	list-style: none;
	padding:0;
	margin:0;
}

#recentpost-home li{
	display: list-item;
	margin-bottom: 10px;
}

 #recentpost-home a {
	display:block;
	font-size: 16px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.701961);
}

.post-date {
	color: rgb(102, 102, 102);
	display: block;
	font-size: 13px;
	font-style: normal;
	height: 26px;
	letter-spacing: 1.3px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-transform: uppercase;
	word-wrap: break-word;
}

/* --------- FOOTER---------------------- */

#social {
	position: relative;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	display: block;
	height: 80px;
	margin: auto;
	padding-bottom: 17px;
	padding-top: 17px;
	text-align: center;
	max-width: 1140px;
}

#social ul{
	list-style: none;
	padding:0;
	margin:0;
}

#social li {
	box-sizing: border-box;
	display: inline-block;
	height: 25px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
}

#social span {
position:relative;
color:white;
}

footer {
	position: relative;
	padding: 10px;
	color: white;
	font-size: 13px;
	letter-spacing: 1.3px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* --------- PARTIE BIO ---------------------- */
#bio-img {
	position:relative;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    max-width: 1140px;
    height: auto;
	margin: auto;
}

#texte {
    margin-right: 15%;
    margin-left: 15%;
	text-align:justify;
}

#image {
	width : 70%;
	margin-right: 15%;
    margin-left: 15%;
}

#bio {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
}

#figure-img {
	margin: 0;
	max-width: 1140px;
	margin : auto;
}


/* --------- PARTIE COMMUNE ---------------------- */

#titre {
	text-align:center;
	padding: 0;
}

.header_title {
	margin: 50px auto;
	color: white;    
    font-size: 68px;    
    font-weight: 300;
    letter-spacing: 1.6px;
    line-height: 1;     
    text-transform: uppercase;
}

.sous_titre {
	font-size: 29px;
	font-weight: normal;
	letter-spacing: 2.9px;
	text-transform: uppercase;
	margin : 0;
}

#bloc_page {
	margin: auto;
	max-width: 1140px;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	position: relative;
	height:auto;
}

a {
	text-decoration:none;
}

input {
	padding: 10px;
	width:100%;
	margin-bottom: 13px ;   
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page news >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.News{
	display: block;
	margin-top : 5%;
	position: relative;
	max-width: 65%;
	float: left;
	text-align:left;
}

.News h1 {
	font-size: 29px;
	font-weight: normal;
	line-height: 44px;
	margin-bottom: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	letter-spacing: normal;
	height: auto;
}

aside {
	float: right;
	max-width:32%;
	margin-top : 5%;
	text-align:left;
}

aside h2 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.6px;
	line-height: 26px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 26px;
	text-transform: uppercase;
	width: 340px;
	word-wrap: break-word;
}

.sources{
	color: white;
	font-size: 16px;
	font-style: normal;
	line-height: 26px;
	margin-top: 10px;
	word-wrap: break-word;
}

.citations{
	border-left-color: rgba(255, 255, 255, 0.2);
	border-left-style: solid;
	border-left-width: 4px;
	color: rgba(255, 255, 255, 0.4);
	display: block;
	font-size: 21px;
	line-height: 34.125px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-left: 20px;
	word-wrap: break-word;
}

#lignes p{
	margin-top: 0.5em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

#st {
	color: white;
	font-size: 13px;
	letter-spacing: 1.3px;
	line-height: 21.125px;
	text-transform: uppercase;
	margin-bottom: 4%;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page Music >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#albums {
	display: flex;
    width:100%;
    margin-top: 5%;
}

#albums img {
	width:100%;
	height: auto;
}

#albums-1 , #albums-2 , #albums-3{
    flex : 1 1 33.3333%;
	text-align:left;
	padding-left: 1%;
	padding-right: 1%;
}


#albums h2 {
	margin-top:20px;
	font-size: 16px;
	font-weight: bold;
	height: auto;
	line-height: 26px;
	text-decoration: none;
	width: auto;
	word-wrap: break-word;
	text-align:left;
	letter-spacing:normal;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< pages Music sous menu  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.playlist {
	width: 65%;
	float: right;
	text-align: left;
	margin-top: 5%;
	line-height: 0;
}

.pochette_lecteur{
	float: left;
	width: 30%;
}

.chanson{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display:flex;
}
.numero{
	float:left;
	width: 10%;
	margin-left: 30px;
}

.timer:hover{
	
}
.titre{
	width: 60%;
	text-align: left;
	margin-right: 10px;
	color: white;
}
.timer{
	margin-left: 140px;
}
.achat{
	border: none;
	width: 100%;
	height: 40px;
	background-color: black;
	opacity: 0.3;
	font-size: 18px;
}
.achat:hover{
	opacity: 1;
}
#e-com{
	margin-top: 10%;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page Contact >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.contact{
	max-width : 720px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	height: auto;
	text-align: left;
}

.textContact{
	text-align:left;
	display: block;
	line-height: 26px;
	width: 100%;
	word-wrap: break-word;
}

.label {
	display: block;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin-bottom: 3px;
	width: 100%;
	word-wrap: break-word;
}

.label span {
	color: rgb(170, 170, 170);
	display: inline;
	font-weight: normal;
	height: auto;
	line-height: 26px;
	margin-left: 4px;
	width: auto;
	word-wrap: break-word;
	text-transform: none;
}

.submit{
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.4);
	border-color: rgba(255, 255, 255,0);
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-size: 13px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 40px;
	letter-spacing: 1.3px;
	line-height: 22px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 0px;
	opacity: 1;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: all;
	transition-timing-function: ease;
	vertical-align: baseline;
	width: auto;
	word-spacing: 0px;
	word-wrap: break-word;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.submit:hover{
	background-color: rgba(0, 0, 0, 1);
	color: white;
}

.cellules{
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	color: rgba(255, 255, 255, 0.4);
	cursor: auto;
	display: inline-block;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 41px;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 13px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: start;
	width: 300px;
	word-wrap: break-word;
}

textarea{
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	color: rgba(255, 255, 255, 0.4);
	cursor: auto;
	display: inline-block;
	flex-direction: column;
	float: none;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 200px;
	letter-spacing: normal;
	margin-bottom: 13px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: auto;
	overflow-y: auto;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	width: 75%;
	min-width: 300px;
	word-spacing: 0px;
	word-wrap: break-word;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page tour >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.entete {
	font-size: 2.1rem;
	text-align: left;   
}

#bloc_contenu {
	margin-top: 3.125em;
	max-width: 720px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 3.125em;
	padding: 0, 5px, 5px, 20px;	
	}
	
.alignright {
	display: inline;
    float: right;
}

table a {
	text-decoration: underline;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page video >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
 .grille_des_miniatures {
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 3.75em;
	 
	 
 }
.bloc_miniature_video {
	max-width: 32%;
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
	padding-left: 20px;
    padding-right: 20px;
	margin-bottom: 3.125em;
	display:inline-block;
	
}
.miniature_video {
	margin-bottom: 0.9375em;
	
}
.miniature_video:hover img, .miniature_video:focus img {
    opacity: 0.8;
	
}

.bloc_titre_image {
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    word-wrap: break-word;
	text-align:left;
	letter-spacing:normal;
	margin-top: 0.9375em;
	margin-bottom: 0;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Responsive page video >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media all and (max-width: 767px) {
.bloc_miniature_video {
	max-width: 49%;
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
	
	margin-bottom: 3.125em;
	display:inline-block;
}
}
@media all and (max-width: 600px) {
.bloc_miniature_video {
	max-width: 100%;
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
	
	margin-bottom: 3.125em;
	display:inline-block;
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< responsive >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


@media all and (max-width: 640px) {

#contenu-home {
	flex-direction: column;
}
	
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< responsive tableau tour  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media all and (max-width: 1023px) {

table tr td:first-child	{
	font-weight: 700;
    padding-top: 0.75em;
}

table tr td {
    border-bottom-width: 0; 
    display: block;
    padding: 0;
}

table tr td:last-child {
    border-bottom-width: 1px;
    padding-bottom: 0.75em;
}

.alignright {
	text-align: left;
    float: none;
}

thead {
	display: none;
}

}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Page Photo gallery-1->>>>>>>>>>>>>>>>>>>>>>*/
#bloc_page
	{
		width: 1100px;
	}




#gallerie-1
    {
    margin-top: 50px;
    margin-bottom: 3px;
 
    display: inline-block;
    float: left;
   
    }
    
.img1 {
 width: 716px;
height: 505px;
    
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<gallery-2->>>>>>>>>>>>>>>>>>>>>>*/

#gallerie-2
{
    display: flex;
    flex-direction: column;
    height: 505px;
    float: right;
    margin-top: 48px;
    margin-bottom: 3px;
    margin-left: 3px;

    
    }

.img2 {
    height: 250px;
    width: 380px;
}

.img3
{
height: 253px;
width: 380px;
}
        

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<gallery-3->>>>>>>>>>>>>>>>>>>>>>*/

#gallerie-3
{
    display: flex;
    width: 100%;
    height: 297px;
    
}
#gallerie-2 img
{
    margin-top: 3px;
    
}
.img5 , .img8
{
    margin-left: 3px;
    margin-right: 3px;
}
.img9
{
    margin-right: 3px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<gallery-4->>>>>>>>>>>>>>>>>>>>>>*/



#gallerie-4
{
    display: flex;
    width: 100%;
    height: 210px;
    margin-top: 3px;
    margin-bottom: 50px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<fin de page photo >>>>>>>>>>>>>>>>>>>>>>*/
