
html, body {
	background-image : url( ../images/background.jpg );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	
	font-family: "Open Sans";
	color: rgba(255, 255, 255, 0.7);
	
	height:100%;
	padding: 0px;
	margin : 0px;
}

#page {
	height:100%;
	text-align:center;
}

#overlay {
	background-color: black;
	opacity : 0.70;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* --------- ENTETE ---------------------- */


#navigation{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	list-style: none;
	padding: 0;
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	height: 60px;
	letter-spacing: 1.3px;
	line-height: 20px;
}

#navigation ul {
 margin: 0;
}

#navigation li {
	border-width: 0;
    display: inline-block;
}

 #navigation a {
    display: block;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	padding: 20px;
}

#navigation a:hover {
	color:white;
}

#navigation #actif {
	color:white;
	font-weight: bold;
}

#entete{
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#titre {
	display: block;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	text-align:center;
	margin: auto;
	padding-bottom:58px;
	position:relative;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1.6px;
	color: rgba(255, 255, 255, 0.701961);
}

h1 {
	font-family: 'Open Sans';
	font-size: 68px;
	font-weight: 300;
	letter-spacing: 6.8px;
	line-height: 68px;
	height: 68px;
	color: white;
	margin-bottom: 14.8364px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

 h2 {
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	letter-spacing: 1.6px;
	line-height: 26px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}


/* --------- PARTIE NEWS COMMUNES ---------------------- */

#contenu-home {
	position:relative;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	clear: both;
	color: rgba(255, 255, 255, 0.701961);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1140px;
	margin: auto;
	display:flex;
	text-align:justify;
}

#text-home{
	box-sizing: border-box;
	display: block;
	flex-basis: 33.3333%;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 20px;
}

#img-home{
	box-sizing: border-box;
	display: block;
	flex-basis: 33.3333%;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 20px;
}

 #img-home a {
	text-decoration: none;
	padding: 0;
}

#recentpost-home {
	box-sizing: border-box;
	display: block;
	flex-basis: 33.3333%;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 20px;
}

#recentpost-home ul{
	list-style: none;
	padding:0;
	margin:0;
}

#recentpost-home li{
	display: list-item;
	margin-bottom: 10px;
}

 #recentpost-home a {
	display:block;
	font-size: 16px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.701961);
}

span {
	color: rgb(102, 102, 102);
	display: block;
	font-size: 13px;
	font-style: normal;
	height: 26px;
	letter-spacing: 1.3px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-transform: uppercase;
	word-wrap: break-word;
}

/* --------- FOOTER---------------------- */

#social {
	position: relative;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	display: block;
	height: 80px;
	margin: auto;
	padding-bottom: 17px;
	padding-top: 17px;
	text-align: center;
	width: 1140px;
}

#social ul{
	list-style: none;
	padding:0;
	margin:0;
}

#social li {
	box-sizing: border-box;
	display: inline-block;
	height: 25px;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
}

#social span {
position:relative;
color:white;
}

footer {
	position: relative;
	padding: 10px;
	color: white;
	font-size: 13px;
	letter-spacing: 1.3px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* --------- PARTIE BIO ---------------------- */
#bio-img {
	position:relative;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    max-width: 1140px;
    height: auto;
	margin: auto;
}

#texte {
    margin-right: 15%;
    margin-left: 15%;
	text-align:justify;
}

#image {
	width : 70%;
	margin-right: 15%;
    margin-left: 15%;
}

#bio {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
}

#figure-img {
	margin: 0;
	max-width: 1140px;
	margin : auto;
}


/* --------- PARTIE COMMUNE ---------------------- */

#titre {
	text-align:center;
	padding: 0;
}

.header_title {
	margin: 50px;
	color: white;    
    font-size: 68px;    
    font-weight: 300;
    letter-spacing: 1.6px;
    line-height: 1;     
    text-transform: uppercase;
}

.sous_titre {
	font-size: 29px;
	font-weight: normal;
	letter-spacing: 2.9px;
	text-transform: uppercase;
	margin : 0;
}

#bloc_page {
	margin: auto;
	max-width: 1140px;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-top-style: solid;
	border-top-width: 1px;
	position: relative;
}

a {
	text-decoration:none;
}

input {
	width:100%;
	margin-bottom: 13px ;   
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< page news >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#News{
	display: block;
	margin-top : 5%;
	position: relative;
	max-width: 65%;
	float: left;
	text-align:left;
}

#News h1 {
	font-size: 29px;
	font-weight: normal;
	line-height: 44px;
	margin-bottom: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	letter-spacing: normal;
	height: auto;
}

aside {
	float: right;
	max-width:32%;
	margin-top : 5%;
	text-align:left;
}

aside h2 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.6px;
	line-height: 26px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 26px;
	text-transform: uppercase;
	width: 340px;
	word-wrap: break-word;
}

.sources{
	color: white;
	font-size: 16px;
	font-style: normal;
	line-height: 26px;
	margin-top: 10px;
	word-wrap: break-word;
}

.citations{
	border-left-color: rgba(255, 255, 255, 0.2);
	border-left-style: solid;
	border-left-width: 4px;
	color: rgba(255, 255, 255, 0.4);
	display: block;
	font-size: 21px;
	line-height: 34.125px;
	margin-bottom: 26px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-left: 20px;
	word-wrap: break-word;
}

#lignes p{
	margin-top: 0.5em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

#st {
	color: white;
	font-size: 13px;
	letter-spacing: 1.3px;
	line-height: 21.125px;
	text-transform: uppercase;
	margin-bottom: 4%;;
}